SECRET_KEY=your_secret_here
ALGORITHM=HS256
MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=your_shortcode
MPESA_INITIATOR=your_initiator
MPESA_INITIATOR_PASSWORD=your_password
MPESA_RESULT_URL=http://localhost:8000/result
MPESA_TIMEOUT_URL=http://localhost:8000/timeout
